<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Statistics Data</title>

      
    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->

    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">


    <style>
        body {
            background-image: url({{url_for('static', filename='/images/basketball-court.jpeg')}});
                background-size: cover;
                background-position: center;
        }

        h5 {
            color: aliceblue;
        }

        .main_content {
            margin: 20px;
            padding: 10px;
        }

        nav {
            background-color: rgba(6, 28, 49);
        }

        .nav-link {
            font-weight: bold;
        }
    </style>


</head>
<body>
    <!-- bootstrap navigations -->
    <nav id="navigationlist">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="/"><b>Home</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="teams"><b>Teams Standings</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="head"><b>Head to Head Matchups</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="players"><b>Top Players</b></a>
            </li>
        </ul>
    </nav>

    <br>
    
    <div class="main_content">
      <div class="row">
        <div class="col-md-3">
            <div class="well">
                <h5>Select an NBA Season</h5>
                <select id="selDataset" onchange="seasonChanged(this.value)"></select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <h5>Number of Players to Display</h5>
                <select id="selNumber" onchange="numChanged(this.value)"></select>
            </div>
        </div>
      </div>
      <br>
      <center>
        <div id="bubble"></div>
      </center>
    </div>
    <hr>
    <center>
    <footer>
        <p><a href="/">Return to Home Page</a>
        <p>&copy;Project 3 - Group D 2022, Bootcamp!</p>
    </footer>
    </center>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/players.js"></script>

</body>
    
</html>
